<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/js/xterm/xterm.css"/>
    <script src="/static/js/xterm/xterm.js"></script>
    <style>
        .xterm-screen {
            height: 700px !important;
        }
    </style>
</head>
<body>
<div id="terminal"></div>
</body>
<script>

    //根据QueryString参数名称获取值
    function getQueryStringByName(name) {
        var result = location.search.match(new RegExp("[\?\&]" + name + "=([^\&]+)", "i"));
        if (result == null || result.length < 1) {
            return "";

        }
        return result[1];
    }


    var ws;
    var term = new Terminal({
        cursorBlink: true,
        useStyle: true,
        fontSize: 12,
    });

    var ns = getQueryStringByName("ns");
    var podName = getQueryStringByName("podName");
    var containerName = getQueryStringByName("containerName");
    var containerId = getQueryStringByName("containerId");
    var path;
    if (containerId !== "") {
        path = "ws://{{.}}/docker/" + containerId + "/log";
    } else {
        path = "ws://{{.}}/ns/" + ns + "/podName/" + podName + "/log?containerName=" + containerName
    }
    ws = new WebSocket(path);


    term.open(document.getElementById('terminal'));
    ws.onopen = function (evt) {
        fit();
    }
    ws.onclose = function (evt) {
        term.writeln("CLOSE");
        ws = null;
    }
    ws.onmessage = function (evt) {
        term.writeln(evt.data);
        term.focus();
    }
    ws.onerror = function (evt) {
        term.writeln("ERROR: " + evt.data);
    }

    function proposeGeometry(term) {
        if (!term.element.parentElement) {
            return null;
        }
        var parentElementStyle = window.getComputedStyle(term.element.parentElement);
        var parentElementHeight = parseInt(parentElementStyle.getPropertyValue('height'));
        var parentElementWidth = Math.max(0, parseInt(parentElementStyle.getPropertyValue('width')));
        var elementStyle = window.getComputedStyle(term.element);
        var elementPadding = {
            top: parseInt(elementStyle.getPropertyValue('padding-top')),
            bottom: parseInt(elementStyle.getPropertyValue('padding-bottom')),
            right: parseInt(elementStyle.getPropertyValue('padding-right')),
            left: parseInt(elementStyle.getPropertyValue('padding-left'))
        };
        var elementPaddingVer = elementPadding.top + elementPadding.bottom;
        var elementPaddingHor = elementPadding.right + elementPadding.left;
        var availableHeight = parentElementHeight - elementPaddingVer;
        var availableWidth = parentElementWidth - elementPaddingHor - term._core.viewport.scrollBarWidth;
        var geometry = {
            cols: Math.floor(availableWidth / term._core._renderCoordinator.dimensions.actualCellWidth),
            rows: Math.floor(availableHeight / term._core._renderCoordinator.dimensions.actualCellHeight)
        };
        return geometry;
    }

    function fit() {
        var geometry = proposeGeometry(term);
        if (geometry) {
            if (term.rows !== geometry.rows || term.cols !== geometry.cols) {
                term._core._renderCoordinator.clear();
                term.resize(geometry.cols, geometry.rows);
            }
        }
    }
    function waitForConnection(callback, interval) {
        if (ws.readyState === 1) {
            callback();
        } else {
            var that = this;
            // optional: implement backoff for interval here
            setTimeout(function () {
                waitForConnection(callback, interval);
            }, interval);
        }
    };
    waitForConnection(function () {
        fit()
    }, 1000);


</script>
</html>